.container {
    
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
    
    
}

.li {
    
    display: inline-block;
}

.secondary-nav{
    
    float: right;
    position: relative;
    border: solid;
    
    
    
}


.primary-nav {
    float: left;
    position:relative;
    border: solid;
    width: 100%;
    text-align: center;
    display:inline-block
    
}